// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #C1A172;
}

.panel ul,
.panel li,
p {
  color: #C1A172;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.game-wrapper,
.panel {
  background-image: url(assets/images/brown-bg.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  padding-left: 10px;
  padding-right: 10px;
}

.panel {
  padding-top: 15px;
  padding-bottom: 20px;
  min-height: 90vh;
}

.game-wrapper {
  position: fixed;
  width: 100%;
  height: 110vh;
}

ion-content {
  background-color: transparent;
  background-image: none;
}

.title {
  text-align: center;
}

.game-board,
.shelf {
  background-image: url(assets/images/wood-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2vw;
  -webkit-box-shadow: 15px 15px 29px 1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 15px 15px 29px 1px rgba(0, 0, 0, 0.42);
  box-shadow: 15px 15px 29px 1px rgba(0, 0, 0, 0.42);
}

.board {
  border: #C1A172 inset 2px;
  width: 20vw;
  border-radius: 12px;
}

.tile {
  width: 13vw;
  display: inline-block;
}

.tile-image {
  width: 100%; // height: 90%;
}

.shelf {
  width: 100%;
  min-height: 15vw;
  margin-top: 10px;
  padding: 10px;
}

.isDragging .hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}

.is-locked {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(104, 243, 62, 0.75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(104, 243, 62, 0.75);
  box-shadow: 0px 0px 15px 5px rgba(104, 243, 62, 0.75);
}

.title {
  width: 100%;
  .tile {
    background: none;
    width: 10vw;
    height: 10vw;
  }
}

.status {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 5vw;
  line-height: 5vw;
  color: #ddd;
}