<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{puzzle.size}} Words</ion-title>
    <ion-buttons slot="end">
      <ion-label>Puzzle:
        {{puzzle.level}}
      </ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="game-wrapper size-{{gameSize}}" [class.isDragging]="isDragging">
    <br />

    <div class="flex-container game-board" padding (dragover)="dragOver($event)" (dragend)="dragEnd($event)">
      <ng-container *ngFor="let row of gameBoard; let r=index">
        <div class="flex-cell board" *ngFor="let gbs of row; let c=index">
          <div *ngIf="isDragSource(gbs) && isDropTarget(gbs)" class="flex-item board-tile"
            (dragstart)="dragStart($event, 'board', r, c, gbs.letter)" draggable="true" (dragenter)="dragEnter($event)"
            (dragleave)="dragLeave($event)" (drop)="drop($event, 'board', r, c)">
            <img [src]="url(gbs.letter)" [alt]="gbs.letter" class="tile-image">
          </div>
          <div *ngIf="isDragSource(gbs) && !isDropTarget(gbs)" class="flex-item board-tile"
            (dragstart)="dragStart($event, 'board', r, c, gbs.letter)" draggable="true">
            <img [src]="url(gbs.letter)" [alt]="gbs.letter" class="tile-image">
          </div>
          <div *ngIf="isDropTarget(gbs) && !isDragSource(gbs)" class="flex-item board-tile"
            (dragenter)="dragEnter($event)" (dragleave)="dragLeave($event)" (drop)="drop($event, 'board', r, c)">
            <img [src]="url(gbs.letter)" [alt]="gbs.letter" class="tile-image">
          </div>
          <div *ngIf="!isDragSource(gbs) && !isDropTarget(gbs)" class="flex-item board-tile is-locked"
            draggable="false">
            <img [src]="url(gbs.letter)" [alt]="gbs.letter" class="tile-image">
          </div>
        </div>
      </ng-container>
    </div>

    <div *ngIf="!gameOver" class="shelf" (drop)="drop($event, 'shelf')" (dragenter)="dragEnter($event)"
      (dragleave)="dragLeave($event)" (dragover)="dragOver($event)">
      <ng-container *ngFor="let e of letters; let i=index">
        <div class="tile">
          <div (dragstart)="dragStart($event, 'shelf', i, -1, e)" [draggable]="true">
            <img [src]="url(e.letter)" [alt]="e" class="tile-image">
          </div>
        </div>
      </ng-container>
    </div>
    <div class="title" *ngIf="gameOver">
      <h1>Congratulations!</h1>
      <p>You completed Puzzle {{puzzle.level}} in {{totalMoves}} moves, using
        {{hintsUsed}}
        <span *ngIf="hintsUsed===1">hint</span>
        <span *ngIf="hintsUsed!==1">hints</span>.
      </p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" size="large" color="primary" (click)="startPage()">Home</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" size="large" color="primary" (click)="randomLevel()">Next</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <ion-fab *ngIf="!gameOver" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="prefs-button">
      <ion-icon size="mini" md="settings-sharp" ios="settings-outline" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="newGame()" [disabled]="!totalMoves">
        <ion-icon color="dark" md="refresh-sharp" ios="refresh-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="startPage()">
        <ion-icon color="dark" md="home-sharp" ios="home-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="isMuted" (click)="isMuted = false">
        <ion-icon color="dark" md="volume-off-sharp" ios="volume-off-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="!isMuted" (click)="isMuted = true">
        <ion-icon color="dark" md="volume-high-sharp" ios="volume-high-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="showHints()">
        <ion-icon color="dark" name="bulb"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button (click)="showHints()">
        <ion-icon color="dark" name="cash">
        </ion-icon>
      </ion-fab-button> -->
    </ion-fab-list>
  </ion-fab>
  <ion-fab *ngIf="isDebugging" vertical="bottom" horizontal="left" slot="fixed">
    <ion-fab-button>
      <ion-icon name="bug"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="nextLevel()" *ngIf="isDebugging">
        <ion-icon color="dark" md="chevron-forward-sharp" ios="chevron-forward-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="prevLevel()" *ngIf="isDebugging">
        <ion-icon color="dark" md="chevron-back-sharp" ios="chevron-back-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="winLevel()" *ngIf="isDebugging">
        <ion-icon color="dark" md="arrow-redo-sharp" ios="arrow-redo-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="shuffleLevel()" *ngIf="isDebugging">
        <ion-icon color="dark" name="shuffle"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addHints(25)" *ngIf="isDebugging">
        <ion-icon color="dark" name="bulb"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    </ion-fab>
</ion-content>